[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-migrate = "*"
flask-wtf = "*"
flask-bootstrap = "*"
"psycopg2" = "*"

[requires]
python_version = "3.6"
